/* Body */

body {
    background-image: url(../img/asset/paper.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Hero */

.heroban{
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr fit-content(100%) 1fr;
    align-items: center;
}

.herotxt {
    color: var(--White);
    
    display: flex;
    justify-content: center;
}

.herotxt > div > h2 {
    margin: -8px 0px;
    font-size: 1.8rem;
    font-family: var(--Stolzl);
    color: var(--Grey);
}

.heroarrow {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90%;
}

.heroarrow > img {
    width: 40px;
}

.heroillu {
    text-align: center;
}

#illu {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Main */

#main {
    background-color: var(--Grey);
    text-align: center;
    padding: 30px 30px 0px;
    border-radius: var(--Rad-main);
}

/* Derniers Projets */

.CardsProj {
    display: grid;
    gap: 10px;
    width: 400px;
    padding: 20px;
    border-radius: var(--Rad-ext);
    background-color: var(--Black);
    text-decoration: none;
    text-align: left;
    color: var(--White);
}

.CardsProj * {
    margin: 0px;
}

.cover {
    width: auto;
    height: 250px;
    border-radius: var(--Rad-int);
    background-image: url(../img/projet/IME/IME_01.png);
    background-position: center;
    background-size: cover;
}

.titleCards {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--Grey);
}

.basCards {
    display: flex;
    justify-content: space-between;
}

.outilCards {
    display: flex;
    gap: 5px;
}

/* Info */

.infoCards {
    display: grid;
    grid-template-columns: 5fr 20px 6fr;
    grid-template-rows: 1fr min-content min-content min-content 1fr;
    grid-template-areas: 
        "i . ."
        "i . pO"
        "i . pT"
        "i . pTh"
        "i . .";

    height: 380px;
    width: 75vw;
    padding: 20px;
    border-radius: var(--Rad-ext);

    background-color: var(--Black);

    color: var(--White);
    text-align: left;

    margin-left: auto;
    margin-right: auto;
}

.ImgInfo {
    grid-area: i;

    height: 340px;

    background-image: url(../img/asset/Moi.jpg);
    background-size: cover;
    background-position: center;

    border-radius: var(--Rad-int);
}

#pIO {
    grid-area: pO;
}

#pIT {
    grid-area: pT;
}

#pITh {
    grid-area: pTh;
}

/* Compétences */

#skill {
    margin-left: -30px;
    margin-right: -30px;
    overflow: hidden;
}

.Bendeau {
    height: 100px;
    width: 110vw;
    margin-left: -5vw;
    margin-right: -5vw;
    padding: 10px 0px;
}

.BckBlue {
    background-color: var(--Blue);
    color: var(--White);
}

.BckBlack {
    background-color: var(--Black);
    color: var(--White);
}

.BckGrey {
    background-color: var(--Grey);
    color: var(--Black);
}

.BckWhite {
    background-color: var(--White);
    color: var(--Black);
}

.BendeauCont {
    height: 80px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.BendeauCont > span {
    width: max-content;
    text-transform: uppercase;
    font-family: var(--Barracuda);
    font-weight: 500;
    font-size: xxx-large;
    font-stretch: condensed;
    height: 39px;
}

.BendeauIcon {
    height: 70px;
}

#BdC1 {
    transform: rotateZ(358deg);
}

#BdC2 {
    transform: rotateZ(1deg);
}

#BdC3 {
    transform: rotateZ(359deg);
}

#BdC4 {
    transform: rotateZ(362deg);
}

#BdC5 {
    transform: rotateZ(360deg);
}

/* t
transform: rotateZ(1deg);
transform: rotateZ(54deg);
transform: rotateZ(362deg);
transform: rotateZ(361deg); */