/* Body */

body {
    background-image: url(../img/asset/paper.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Hero */

.heroban{
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr fit-content(100%) 1fr;
    align-items: center;
}

.herotxt {
    color: var(--White);
    
    display: flex;
    justify-content: center;
}

.herotxt > div > h2 {
    margin: -8px 0px;
    font-size: 1.8rem;
    font-family: var(--Stolzl);
    color: var(--Grey);
}

.heroarrow {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90%;
}

.heroarrow > img {
    width: 40px;
}

.heroillu {
    text-align: center;
}

#illu {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Main */

#main {
    background-color: var(--White);
    text-align: center;
    padding: 30px;
    border-radius: var(--Rad-main);
}

/* Derniers Projets */

.CardsProj {
    display: grid;
    gap: 10px;
    width: 400px;
    padding: 20px;
    border-radius: var(--Rad-ext);
    background-color: var(--Black);
    text-decoration: none;
    text-align: left;
    color: var(--White);
}

.CardsProj * {
    margin: 0px;
}

.cover {
    width: auto;
    height: 250px;
    border-radius: var(--Rad-int);
    background-image: url(../img/projet/IME/IME_01.png);
    background-position: center;
    background-size: cover;
}

.titleCards {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--Grey);
}

.basCards {
    display: flex;
    justify-content: space-between;
}

.outilCards {
    display: flex;
    gap: 5px;
}