main {
    background: var(--Grey);
}

#header {
    background-color: var(--Black);
}

.hero {
    padding: 25vh 0vh 15vh;
    text-align: center;
}

.Liste {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.Grille{
    display: grid;
    grid-template-columns: repeat(3, 400px); /*changer pour 2 puis 1 au responsive*/
    /* grid-template-rows: repeat(auto-fill, minmax(366px, 366px)); */
    gap: 20px;
    /* min-width: 400px;
    width: 80vw;
    max-width: 1240px; */
}

.CardsProj {
    --urlCover : url(../img/projet/IME/IME_01.png);
    --BckHover : var(--White);

    position: relative;
    display: grid;
    gap: 10px;
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    height: 366px;
    padding: 20px;
    border-radius: var(--Rad-ext);
    background-color: var(--Black);
    text-decoration: none;
    text-align: left;
    color: var(--White);
    transition: 0.3s;
    overflow: hidden;
    z-index: 2;
}

.CardsProj:hover {
    box-shadow: -10px 10px 0px var(--BckHover);
    transform: translate(5px, -5px);
    z-index: 3;
}

.CardsProj * {
    margin: 0px;
}

.cover {
    display: flex;
    justify-content: end;
    width: auto;
    height: 250px;
    border-radius: var(--Rad-int);
    background: var(--urlCover);
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}

.CardsProj:hover .cover{
    height: 185px;
}

.titleCards {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tCards {
    text-overflow: ellipsis;
    height: 1.5rem;
    max-width: 273px;
}

.date {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--Grey);
}

.basCards {
    display: flex;
    justify-content: space-between;
}

.outilCards {
    display: flex;
    gap: 5px;
}

.cache {
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
}

.voirProj {
    padding: 5px;
    transform: translate(25%, -25%) scale(0) rotate(0Deg);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.870, 0.075, 0.300, 1.650);
    
}

.voirProj > .arrowR {
    height: 20px;
    width: 20px;
}

.CardsProj:hover .cache {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.CardsProj:hover .voirProj {
    transform: translate(25%, -25%) scale(1) rotate(-40Deg);
}