main {
    background-color: var(--Grey);
    padding: 2vh;
    height: 1500px;
}

.opaZ {
    top: -100vh;
}

.change_BG_color {
    top: 1vh;
}

.hero {
    height: 98vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    grid-template-areas: 
        "i i"
        "h g";
    gap: 2vh;
}

.illuCouv {
    background-image: url(../img/projet/IME/IME_01.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;

    grid-area: i;

    padding: 20px;
}

.Back {
    padding: 10px 15px;
    background-color: var(--White);
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: var(--Rad-ext);
    text-decoration: none;
    color: var(--Black);
}

.headHero {
    grid-area: h;
    margin-left: 2vh;
}

.titleProj {
    color: var(--Blue);
}

.date {
    margin: 0vh 0vh 2vh;
    align-self: center;
}

.GridHeroRight {
    grid-area: g;

    display: grid;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    gap: 20px;
    margin-right: 2vh;
}



.outilDiv {
    display: flex;
    gap: 5px;
    align-items: center;
}

.outilDiv p {
    margin: 0px;
}


/* Info sur le projet */

.InfoProj {
    border: solid 1px red;
    padding: 0vh 4vw;
}

.InfoProj * {
    border: solid 1px blue;
}

.InfoProj p {
    max-width: 50vw;
}


#helicoO {
    width: 30px;
    height: 30px;
    background-color: blue;

    transition: 0.3s;
    transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#helicoT {
    position: relative;
    top: -30px;
    width: 30px;
    height: 30px;
    background-color: red;

    transition: 0.3s;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
