*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {

    /* Cursor */
    --Pointer: url(../img/asset/Cursor_perso.svg);
    --Hand: url(../img/asset/Hand_perso.svg);

    /* Images */
    --Bkg-img : url(../img/asset/Paper.jpg);

    /* Couleur Principales*/
    --Black: #1e1e1e;
    --White: #f6f6f6;
    --Blue : #264de4;
    --Grey : #e8e8e8;

    /* Radius  */
    --Rad-int: 10px;
    --Rad-ext: 20px;
    --Rad-main: 30px 30px 0px 0px;

    /* Font */
    --Barracuda: 'Barracuda', Arial, Helvetica, sans-serif;
    --Stolzl: 'Stolzl', Arial, Helvetica, sans-serif;
}

/* Font */

@font-face {
	font-family: 'Barracuda';
	font-weight: 400;
	src: url(‘/font/Barracuda/Barracuda-regular.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Barracuda';
	font-weight: 700;
	src: url(‘/font/Barracuda/Barracuda-Bold.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Stolzl';
	font-weight: 400;
	src: url(‘/font/Stolzl/Stolzl-Regular.woff2’) format(‘woff2’),
        url(‘/font/Stolzl/Stolzl-Regular.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Stolzl';
	font-weight: 500;
	src: url(‘/font/Stolzl/Stolzl-Medium.woff2’) format(‘woff2’),
        url(‘/font/Stolzl/Stolzl-Medium.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Stolzl';
	font-weight: 700;
	src: url(‘/font/Stolzl/Stolzl-Bold.woff2’) format(‘woff2’),
        url(‘/font/Stolzl/Stolzl-Bold.ttf’) format(‘truetype’)
}

html {
    background-color: var(--Black);
}

body {
    margin: 0px;
    padding: 0px;
    cursor: var(--Pointer), auto;
    font-family: var(--Stolzl);
    font-weight: 500;
    background-color: var(--White);
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: var(--Black);
}

  
::-webkit-scrollbar-thumb {
    background: var(--Blue);
    border-radius: 5px;
}

::selection {
    background-color: var(--Blue);
    color: var(--White);
}

footer {
    background-color: var(--White);
}

h1 {
    font-family: var(--Barracuda);
    font-weight: 700;
    font-size: 5rem;
    margin: 0px;
}

h2 {
    font-family: var(--Barracuda);
    color: var(--Blue);
    font-size: 2.188rem;
    text-transform: capitalize;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

a {
    cursor: var(--Hand), auto;
}

.noDeco {
    text-decoration: none;
    color: var(--Black);
}

.blue {
    color: var(--Blue);
}

.bloc {
    display: block;
}


/*   _____     _____
    |  _  |   |  _  |
   -| | | |---| | | |-
    |_____| 7 |_____|  ~B!nro~
*/