#header {
    position: fixed;
    top: 1vh;
    left: 1vh;
    right: 1vh;

    display: grid;
    grid-template-columns: fit-content(100%) 1fr repeat(4,fit-content(100%));
    grid-template-rows: 1fr;
    align-items: center;
    padding: 20px;
    gap: 10px;
    grid-template-areas: "Logo . Ac Proj Prop Cont";

    font-family: var(--Barracuda);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: var(--Rad-ext);    

    transition: 0.3s;
}

.change_BG_color {
    background-color: var(--Black);
}

.NavLink {
    display: block;
    height: 40px;
    padding: 10px;
    color: var(--White);
    text-decoration: none;
    border-radius: 30px;
    background: radial-gradient(61.67% 61.67% at 50% 50%, var(--Blue) 0%, rgba(38, 77, 228, 0.00) 100%) no-repeat;
    background-position: -100px 0px;
    /* border: solid 5px var(--White); */
    /* background-position: -10px 0px; */
    transition: 0.5s;
}

.NavLink:hover{
    background: radial-gradient(61.67% 61.67% at 50% 50%, var(--Blue) 0%, rgba(38, 77, 228, 0.00) 100%) no-repeat;
    background-position: -10px 0px;
}

#NavAc {
    grid-area: Ac;
}

#NavProj {
    grid-area: Proj;
}

#NavProp {
    grid-area: Prop;
}

#NavCont {
    grid-area: Cont;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    grid-area: Logo;
}

.logo > img {
    height: 40px;
}

.logo > p {
    margin: 0px;
    color: var(--White);
}

.tagDiv {
    display: flex;
    gap: 5px;
    height: fit-content;
}

.tag {
    padding: 5px 10px;
    border-radius: var(--Rad-ext);
    background-color: #254be4e6;
    font-size: 0.875rem;
    width: fit-content;
    font-weight: 400;
}

.voirProj {
    display: flex;
    gap: 5px;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 5px 15px;
    background-color: var(--White);
    border-radius: var(--Rad-ext);
    color: var(--Black);
}

.voirProj > .arrowR {
    height: 30px;
    width: 30px;
    border-radius: var(--Rad-ext);
}

.outil {
    height: 40px;
    width: 40px;
}





/*p {
    cursor: url(../img/asset/Txt_perso.svg) 9 10, auto;
}*/




/*   _____     _____
    |  _  |   |  _  |
   -| | | |---| | | |-
    |_____| 7 |_____|  ~B!nro~
*/